@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }
  body {
    @apply min-h-dvh antialiased;
  }
  :focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold uppercase mb-5;
  }
  h1 {
    @apply text-5xl/13;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  a,
  button {
    cursor: pointer;
  }
  p {
    @apply mb-5
  }
}
